.card {
  position: relative;
}
.card img {
  display: block;
  border-radius: 6px;
}
.card .front-img {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}
.flipped .front-img {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back-bg {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back-bg {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
